language: python
python:
  - "3.7"
  
install:
  - pip install -r requirements.txt

script:
  - pytest test.py
  
git:
  depth: 3
  
notifications:
    email:
        recipients:
            - kasuru@hotmail.com
            - julita_056@hotmail.com
        on_success: always
        on_failure: always

deploy:
    provider: heroku
    skip-cleanup: true
    keep-history: true
    api_key: 
        secure: "UeCIt4K4upvAjWWFNv46L8Q/8os3Ty4tzD/M4mzgbQR67PKtPwwgeKP6KESen5MHyjp7jXyRDlXKiyLs+IeUjtvUXptiGOvVBv71jkKfjaNVCR+JvSQls+fhcQBNekTXrJJzE6KgaGS7R7dJqsaQ3AESoY+8sO6zmvlHKT0kCg6PncJpibg629iG13SXSjcAdcaV0JNH1mNOa5q8UNwx2n51ESMQa+ehqf2e+Jay+nMyB6nJ8D+5BAmpJ3opJxGz5LQcxImePZhk2db0LZ96VL9l7BiMnXzMN+NhzJQGAJ96TGXF3JXFuWHwZw8Q2fgwNbisZUmHydKSYDwPWyYGixA/iLfSUTgXRsl69+f1XmnZYonMYvr/w7PCn8YvZv/xVYVTW3Y0R+Tn/M3dg/DhDvZs2IpaZrJYbM8j/0mmShTE1NxuYaRGSQNToLVx7lM8QZEkdTdKI9GqQAOkY/2nY+Bq+T97+RbBXzCk9S5bp+9cfzd7KBUwQ2vbh/cBDR4nRMT9w/ikW2W9lbH8MSa6p3Yn07ufsXR47U2OIfpAOxnRaC0m5EsDISfSxgXL8mqPq+rXkNyP67NI1SaS/5IUbjB0L5MyyOmy6oVRQq6WEDEGqrM6RDfZKzbulladohYf8RH8zbdpp6hkWVpXVw1onQu0qKhhPQ2s6lWm9wyQOP0="

    app: prueba-travis
    on:
      repo: TonyLuque/prueba_travis